player-connection-mode=Listen
player-connection-guid=3992148981
player-connection-debug=0
player-connection-project-name=Maritime Challenge
player-connection-ip=192.168.79.1
player-connection-ip=192.168.205.1
player-connection-ip=192.168.137.3
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
headless=
